<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath*:META-INF/cxf/cxf.xml" />

    <bean id="depthProperties" class="org.apache.cxf.staxutils.DocumentDepthProperties">
        <property name="innerElementCountThreshold" value="500" />
    </bean>
    <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
        <property name="depthProperties" ref="depthProperties" />
    </bean>
    <bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.json.JSONProvider">
        <property name="depthProperties" ref="depthProperties" />
    </bean>

    <bean id="personServiceImpl" class="com.bulain.cxf.jaxrs.PersonServiceImpl" />

    <jaxrs:server address="http://localhost:8083/jaxrs">
        <jaxrs:serviceBeans>
            <ref bean="personServiceImpl" />
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json" />
            <entry key="xml" value="application/xml" />
        </jaxrs:extensionMappings>
        <jaxrs:features>
            <bean class="org.apache.cxf.feature.LoggingFeature" />
        </jaxrs:features>
        <jaxrs:inInterceptors>
            <bean class="org.apache.cxf.jaxrs.provider.jsonp.JsonpInInterceptor" />
        </jaxrs:inInterceptors>
        <jaxrs:outInterceptors>
            <bean class="org.apache.cxf.jaxrs.provider.jsonp.JsonpPreStreamInterceptor" />
            <bean class="org.apache.cxf.jaxrs.provider.jsonp.JsonpPostStreamInterceptor" />
        </jaxrs:outInterceptors> 
        <jaxrs:providers>
            <ref bean="jaxbProvider" />
            <ref bean="jsonProvider" />
        </jaxrs:providers>
    </jaxrs:server>
</beans>