<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="baseMapper" class="org.springframework.orm.hibernate3.support.HibernateDaoSupport" abstract="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="groupMapper" parent="baseMapper" class="com.bulain.hibernate.dao.GroupMapperImpl"/>
    <bean id="groupPermissionMapper" parent="baseMapper" class="com.bulain.hibernate.dao.GroupPermissionMapperImpl"/>
    <bean id="groupUserMapper" parent="baseMapper" class="com.bulain.hibernate.dao.GroupUserMapperImpl"/>
    <bean id="permissionMapper" parent="baseMapper" class="com.bulain.hibernate.dao.PermissionMapperImpl"/>
    <bean id="userMapper" parent="baseMapper" class="com.bulain.hibernate.dao.UserMapperImpl"/>
</beans>