<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="groupService" class="com.bulain.hibernate.service.GroupServiceImpl"/>
    <bean id="groupUserService" class="com.bulain.hibernate.service.GroupUserServiceImpl"/>
</beans>