<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">hibernate</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_test</property>
        <property name="hibernate.connection.username">hibernate</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <mapping resource="hbm/GroupUsers.hbm.xml" />
        <mapping resource="hbm/Groups.hbm.xml" />
        <mapping resource="hbm/Users.hbm.xml" />
        <mapping resource="hbm/Permissions.hbm.xml" />
        <mapping resource="hbm/GroupPermissions.hbm.xml" />
        <mapping resource="hbm/TableClassHierarchy.hbm.xml" />
        <mapping resource="hbm/TableSubclass.hbm.xml" />
        <mapping resource="hbm/TableSubclassDiscriminator.hbm.xml" />
        <mapping resource="hbm/TableConcreteClass.hbm.xml" />
        <mapping resource="hbm/Alltypes.hbm.xml" />
    </session-factory>
</hibernate-configuration>
