<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
       
	<bean id="baseService" abstract="true" class="com.bulain.common.db.AbstractServiceImpl">
		<property name="dataSource" ref="dataSource"/>
		<property name="schema" value="${jdbc.schema}"/>
		<property name="databaseConfig">
			<props>
				<prop key="datatypeFactory">${jdbc.datatypeFactory}</prop>
				<prop key="resultSetTableFactory">${jdbc.resultSetTableFactory}</prop>
				<prop key="metadataHandler">${jdbc.metadataHandler}</prop>
			</props>
		</property>
	</bean>
	<bean id="importSrv" parent="baseService" class="com.bulain.common.db.ImportImpl"/>
    
</beans>