<beans xsi:schemaLocation="http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <bean id="ediProducer" class="com.bulain.camel.EdiProducer" />
    <bean id="ediConsumer" class="com.bulain.camel.EdiConsumer" />
    <bean id="jms" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="brokerURL" value="vm://localhost?broker.persistent=false" />
    </bean>

    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <route id="edi-producer">
            <from uri="timer://foo?period=1s" />
            <transform>
                <method ref="ediProducer" method="action" />
            </transform>
            <to uri="jms:queue:edi.queue" />
        </route>
        <route id="edi-comsumer">
            <from uri="jms:queue:edi.queue" />
            <transform>
                <method ref="ediConsumer" method="action" />
            </transform>
            <to uri="file://target/edi.queue" />
        </route>
    </camelContext>

</beans>