<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:zkc="http://www.zkoss.org/2008/zkspring/core" xmlns:zksp="http://www.zkoss.org/2008/zkspring/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
        http://www.zkoss.org/2008/zkspring/core http://www.zkoss.org/2008/zkspring/core/zkspring-core.xsd 
        http://www.zkoss.org/2008/zkspring/security http://www.zkoss.org/2008/zkspring/security/zkspring-security.xsd">

    <global-method-security secured-annotations="enabled" pre-post-annotations="enabled">
    </global-method-security>

    <http auto-config="true">
    <!--  
        <intercept-url pattern="/demo/**" access="ROLE_SUPERUSER" />
        <intercept-url pattern="/person/**" access="ROLE_USER" />
        -->
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/index.zul" access="IS_AUTHENTICATED_ANONYMOUSLY" />

        <form-login login-page="/login.zul" authentication-failure-url="/login.zul?login_error=1" />
        <logout logout-success-url="/index.zul" invalidate-session="true" />

        <custom-filter ref="zkDesktopReuseFilter" position="FIRST" />
        <custom-filter ref="zkDisableSessionInvalidateFilter" before="FORM_LOGIN_FILTER" />
        <custom-filter ref="zkEnableSessionInvalidateFilter" before="FILTER_SECURITY_INTERCEPTOR" />
        <custom-filter ref="zkLoginOKFilter" after="FILTER_SECURITY_INTERCEPTOR" />
        <custom-filter ref="zkError403Filter" after="LOGOUT_FILTER" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="md5" />
            <user-service>
                <user name="superuser" password="0baea2f0ae20150db78f58cddac442a9" authorities="ROLE_SUPERUSER, ROLE_USER, ROLE_OTHER" />
                <user name="user" password="ee11cbb19052e40b07aac0ca060c23ee" authorities="ROLE_USER" />
                <user name="other" password="795f3202b17cb6bc3d4b771d8c6c9eaf" authorities="ROLE_OTHER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <zkc:zk-config>
    </zkc:zk-config>

    <zksp:zk-event login-template-close-delay="5">
    <!-- 
        <zksp:intercept-event event="onClick" path="//**/btn*" access="ROLE_USER" />
        <zksp:intercept-event event="onSort" path="//**/hd*" access="ROLE_USER" />
        <zksp:intercept-event event="onPaging" path="//**/page*" access="ROLE_USER" />
         -->
        <zksp:intercept-event path="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <zksp:form-login login-page="/popupLogin.zul" />
    </zksp:zk-event>

</beans:beans>