<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bulain.common.dao.OrderMapper" >
  <!-- custom -->
  <sql id="where">
  	<where>
  		<if test="name!=null and name!='' ">
  			and name = #{name}
  		</if>
  	</where>
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="com.bulain.common.pojo.OrderSearch">
  	select 
    <include refid="Base_Column_List" />
    from orders
    <include refid="where"/>
    <include refid="common.orderby"/>
  </select>
  <select id="count" resultType="java.lang.Long" parameterType="com.bulain.common.pojo.OrderSearch">
  	select count(*)
    from orders
    <include refid="where"/>
  </select>
  <select id="page" resultMap="BaseResultMap" parameterType="com.bulain.common.pojo.OrderSearch">
  	<![CDATA[${PAGE_HEAD}]]>
  	select 
    <include refid="Base_Column_List" />
    from orders
    <include refid="where"/>
    <include refid="common.orderby"/>
    <![CDATA[${PAGE_FOOT}]]>
  </select>
  <select id="selectByWfId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where wf_id = #{wfId}
  </select>

</mapper>