<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bulain.common.dao.ContentMapper" >
  <resultMap id="BaseResultMap" type="com.bulain.common.model.Content" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="CONTENT_TYPE" property="contentType" jdbcType="VARCHAR" />
    <result column="REF_ID" property="refId" jdbcType="DECIMAL" />
    <result column="REF_NAME" property="refName" jdbcType="VARCHAR" />
    <result column="CATAGORY" property="catagory" jdbcType="VARCHAR" />
    <result column="LANG" property="lang" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="DATE" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="DATE" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bulain.common.model.Content" extends="BaseResultMap" >
    <result column="BYTES" property="bytes" jdbcType="BLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FILE_NAME, CONTENT_TYPE, REF_ID, REF_NAME, CATAGORY, LANG, CREATED_BY, CREATED_AT, 
    UPDATED_BY, UPDATED_AT
  </sql>
  <sql id="Blob_Column_List" >
    BYTES
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ${jdbc.schema}.CONTENTS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ${jdbc.schema}.CONTENTS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bulain.common.model.Content" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      select service_sequence.nextval from dual
    </selectKey>
    insert into ${jdbc.schema}.CONTENTS (ID, FILE_NAME, CONTENT_TYPE, 
      REF_ID, REF_NAME, CATAGORY, 
      LANG, CREATED_BY, CREATED_AT, 
      UPDATED_BY, UPDATED_AT, BYTES
      )
    values (#{id,jdbcType=DECIMAL}, #{fileName,jdbcType=VARCHAR}, #{contentType,jdbcType=VARCHAR}, 
      #{refId,jdbcType=DECIMAL}, #{refName,jdbcType=VARCHAR}, #{catagory,jdbcType=VARCHAR}, 
      #{lang,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdAt,jdbcType=DATE}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=DATE}, #{bytes,jdbcType=BLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bulain.common.model.Content" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      select service_sequence.nextval from dual
    </selectKey>
    insert into ${jdbc.schema}.CONTENTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="contentType != null" >
        CONTENT_TYPE,
      </if>
      <if test="refId != null" >
        REF_ID,
      </if>
      <if test="refName != null" >
        REF_NAME,
      </if>
      <if test="catagory != null" >
        CATAGORY,
      </if>
      <if test="lang != null" >
        LANG,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="bytes != null" >
        BYTES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=DECIMAL},
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        #{refId,jdbcType=DECIMAL},
      </if>
      <if test="refName != null" >
        #{refName,jdbcType=VARCHAR},
      </if>
      <if test="catagory != null" >
        #{catagory,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=DATE},
      </if>
      <if test="bytes != null" >
        #{bytes,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bulain.common.model.Content" >
    update ${jdbc.schema}.CONTENTS
    <set >
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        CONTENT_TYPE = #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        REF_ID = #{refId,jdbcType=DECIMAL},
      </if>
      <if test="refName != null" >
        REF_NAME = #{refName,jdbcType=VARCHAR},
      </if>
      <if test="catagory != null" >
        CATAGORY = #{catagory,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        LANG = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
      <if test="bytes != null" >
        BYTES = #{bytes,jdbcType=BLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bulain.common.model.Content" >
    update ${jdbc.schema}.CONTENTS
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      CONTENT_TYPE = #{contentType,jdbcType=VARCHAR},
      REF_ID = #{refId,jdbcType=DECIMAL},
      REF_NAME = #{refName,jdbcType=VARCHAR},
      CATAGORY = #{catagory,jdbcType=VARCHAR},
      LANG = #{lang,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=DATE},
      BYTES = #{bytes,jdbcType=BLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bulain.common.model.Content" >
    update ${jdbc.schema}.CONTENTS
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      CONTENT_TYPE = #{contentType,jdbcType=VARCHAR},
      REF_ID = #{refId,jdbcType=DECIMAL},
      REF_NAME = #{refName,jdbcType=VARCHAR},
      CATAGORY = #{catagory,jdbcType=VARCHAR},
      LANG = #{lang,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>