<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bulain.common.dao.MailTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.bulain.common.model.MailTemplate" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="LANG" property="lang" jdbcType="VARCHAR" />
    <result column="SUBJECT" property="subject" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="DATE" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="DATE" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bulain.common.model.MailTemplate" extends="BaseResultMap" >
    <result column="BODY" property="body" jdbcType="BLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, LANG, SUBJECT, CREATED_BY, CREATED_AT, UPDATED_BY, UPDATED_AT
  </sql>
  <sql id="Blob_Column_List" >
    BODY
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ${jdbc.schema}.MAIL_TEMPLATES
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ${jdbc.schema}.MAIL_TEMPLATES
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bulain.common.model.MailTemplate" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      select service_sequence.nextval from dual
    </selectKey>
    insert into ${jdbc.schema}.MAIL_TEMPLATES (ID, NAME, LANG, 
      SUBJECT, CREATED_BY, CREATED_AT, 
      UPDATED_BY, UPDATED_AT, BODY
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{lang,jdbcType=VARCHAR}, 
      #{subject,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdAt,jdbcType=DATE}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=DATE}, #{body,jdbcType=BLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bulain.common.model.MailTemplate" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      select service_sequence.nextval from dual
    </selectKey>
    insert into ${jdbc.schema}.MAIL_TEMPLATES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="name != null" >
        NAME,
      </if>
      <if test="lang != null" >
        LANG,
      </if>
      <if test="subject != null" >
        SUBJECT,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="body != null" >
        BODY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=DECIMAL},
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=DATE},
      </if>
      <if test="body != null" >
        #{body,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bulain.common.model.MailTemplate" >
    update ${jdbc.schema}.MAIL_TEMPLATES
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        LANG = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        SUBJECT = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
      <if test="body != null" >
        BODY = #{body,jdbcType=BLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bulain.common.model.MailTemplate" >
    update ${jdbc.schema}.MAIL_TEMPLATES
    set NAME = #{name,jdbcType=VARCHAR},
      LANG = #{lang,jdbcType=VARCHAR},
      SUBJECT = #{subject,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=DATE},
      BODY = #{body,jdbcType=BLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bulain.common.model.MailTemplate" >
    update ${jdbc.schema}.MAIL_TEMPLATES
    set NAME = #{name,jdbcType=VARCHAR},
      LANG = #{lang,jdbcType=VARCHAR},
      SUBJECT = #{subject,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>