<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="mysqlTables" targetRuntime="MyBatis3">

        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="${generator.jdbcDriver}" connectionURL="${generator.jdbcUrl}" userId="${generator.username}" password="${generator.password}">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="${generator.packagePrefix}.model" targetProject="${generator.target}">
            <property name="enableSubPackages" value="false" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="${generator.xmlPrefix}" targetProject="${generator.target}">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="${generator.packagePrefix}.dao" targetProject="${generator.target}">
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>
       
        <table schema="${generator.schema}" tableName="BLOG" domainObjectName="Blog" enableCountByExample="false" enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="ID" sqlStatement="Mysql" identity="true" type="post" />
            <columnOverride column="ID" javaType="java.lang.Long" />
            <columnOverride column="CREATED_AT" jdbcType="TIMESTAMP" />
            <columnOverride column="UPDATED_AT" jdbcType="TIMESTAMP" />
        </table>
        
    </context>
</generatorConfiguration>
