<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> 
		<property name="configLocation"  value="classpath:mybatis/mybatis-config.xml"/>
		<property name="mapperLocations">
			<list>
				<value>classpath*:mybatis/xml/Common.xml</value>
				<value>classpath*:mybatis/xml/*Mapper.xml</value>
			</list>
		</property>  
	</bean> 
</beans>