<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://cxf.apache.org/configuration/security" xmlns:http="http://cxf.apache.org/transports/http/configuration" xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd 
    http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd 
    http://cxf.apache.org/transports/http-jetty/configuration http://cxf.apache.org/schemas/configuration/http-jetty.xsd 
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath*:META-INF/cxf/cxf.xml" />

    <bean id="helloServiceImpl" class="com.bulain.cxf.jarws.HelloServiceImpl" />
    <jaxws:server serviceClass="com.bulain.cxf.jarws.HelloService" address="https://localhost:8443/cxf-demo/services/HelloService">
        <jaxws:serviceBean>
            <ref bean="helloServiceImpl" />
        </jaxws:serviceBean>
        <jaxws:features>
            <bean class="org.apache.cxf.feature.LoggingFeature" />
        </jaxws:features>
    </jaxws:server>

    <httpj:engine-factory bus="cxf">
        <httpj:identifiedTLSServerParameters id="secure">
            <httpj:tlsServerParameters>
                <sec:trustManagers>
                    <sec:keyStore type="JKS" password="server" file="src/test/resources/certs/server.jks"/>
                </sec:trustManagers>
                <sec:keyManagers keyPassword="server">
                    <sec:keyStore type="JKS" password="server" file="src/test/resources/certs/server.jks" />
                </sec:keyManagers>
                <sec:cipherSuitesFilter>
                    <sec:include>.*_EXPORT_.*</sec:include>
                    <sec:include>.*_EXPORT1024_.*</sec:include>
                    <sec:include>.*_WITH_DES_.*</sec:include>
                    <sec:include>.*_WITH_NULL_.*</sec:include>
                    <sec:exclude>.*_DH_anon_.*</sec:exclude>
                </sec:cipherSuitesFilter>
                <sec:clientAuthentication want="true" required="true" />
            </httpj:tlsServerParameters>
        </httpj:identifiedTLSServerParameters>
        <httpj:engine port="8443">
            <httpj:tlsServerParametersRef id="secure"/>
        </httpj:engine>
    </httpj:engine-factory>
</beans>