<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:simple="http://cxf.apache.org/simple"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd">

    <import resource="classpath*:META-INF/cxf/cxf.xml" />

    <bean id="helloServiceImpl" class="com.bulain.cxf.jarws.HelloServiceImpl"/>

    <simple:server serviceClass="com.bulain.cxf.jarws.HelloService" address="http://localhost:8083/HelloService">
        <simple:serviceBean>
            <ref bean="helloServiceImpl" />
        </simple:serviceBean>
        <simple:features>
            <bean class="org.apache.cxf.feature.LoggingFeature" />
        </simple:features>
    </simple:server>
</beans>